.upload-icon {
    border: 1px solid #dedede;
    padding: 5px;
}
.cursor-pointer {
    cursor: pointer;
}

.post-block {
    padding:14px;
}

.invis-upload {
    margin-top: -24px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    z-index: 99999;
}

.panel-feed {
	height: 70px;
}

.feed-profile img {
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
}
.feed-username {
	margin-top: 15px;
	margin-left: 10px;
}

.action-post {
    padding: 10px 0 10px 5px;
}